body{
    font-family: Arial, sans-serif;
    background-color:#f4f4f4;
    margin:0;
    padding:20px;
}
h1{
    text-align:center;
}
.card.container{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}
.card{
    width:200px;
    background-color: #ffffff;
    padding: 20px;
    border: radius 50%;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;

}
.card:hover{
    transform: scale(0.15s); 
}
.card img{
    width:120px;
    height:120px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:15px;
}
.card h2{
    margin-bottom:5px;

}
.card h3{
    font-size:1rem;
    color:#555;
    margin-bottom:15px;
}
.btn{
    display:inline-block;
    padding:10px 20px;
    background-color:#4a90e2;
    color:white;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s ease;
    cursor:pointer;
}
.btn:hover{
    background:#1c6fd1;
}

